.cache/
.idea
.terraform
.rakeTasks
.yarn
node_modules/
cypress/fixtures/
cypress/screenshots/*
cypress/videos/*
cdc/log/*
app/public/assets/dist
.DS_Store
coverage
.env
app/log/*
terraform.tfstate*
infrastructure/*
log
